/* line 24, ../sass/screen.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../sass/screen.sass */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 34, ../sass/screen.sass */
html {
  font-size: 62.5%;
}

/* line 37, ../sass/screen.sass */
body {
  font: normal 1.5rem/1.4 arial;
  height: 100%;
  position: relative;
}

/* line 42, ../sass/screen.sass */
#wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 30px;
}

/* line 48, ../sass/screen.sass */
#user-panel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 24px;
  margin: 3px 0;
  text-align: center;
}
/* line 55, ../sass/screen.sass */
#user-panel .info {
  position: absolute;
  right: 0;
  top: 0;
  color: #000;
}
/* line 60, ../sass/screen.sass */
#user-panel .info .logout {
  height: 20px;
  line-height: 20px;
  background: #666;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  margin-left: 10px;
  color: #fff;
}
/* line 69, ../sass/screen.sass */
#user-panel ul, #user-panel li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 73, ../sass/screen.sass */
#user-panel ul {
  display: inline-block;
  text-align: center;
}
/* line 76, ../sass/screen.sass */
#user-panel li {
  display: inline-block;
  background: #68848A;
  border-radius: 3px;
  padding: 2px 10px;
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
}
/* line 84, ../sass/screen.sass */
#user-panel li:hover {
  background: #21211E;
}
/* line 86, ../sass/screen.sass */
#user-panel .room-left {
  display: inline-block;
  position: absolute;
  margin-left: 15px;
}
/* line 90, ../sass/screen.sass */
#user-panel .room-left a {
  text-align: center;
  background: #68848A;
  border: 0;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  background: #940000;
  height: 2.5rem;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 2.5rem;
  border-radius: 0.5rem;
}
/* line 10, ../sass/screen.sass */
#user-panel .room-left a:hover {
  background: #21211E;
}

/* line 95, ../sass/screen.sass */
.room, .game {
  height: 100%;
}

/* line 98, ../sass/screen.sass */
.room .chat, .room-list, .room-preview, .game {
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  background: #969696;
}

/* line 104, ../sass/screen.sass */
.chat, .room-list, .room-preview {
  float: left;
  height: 100%;
}

/* line 108, ../sass/screen.sass */
.room-new-add {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* line 113, ../sass/screen.sass */
.room .chat {
  width: 28%;
}

/* line 117, ../sass/screen.sass */
.chat ol {
  height: 90%;
  font-size: 1.2rem;
  color: #fff;
}
/* line 121, ../sass/screen.sass */
.chat ol > li {
  border-radius: 0.24rem;
  padding: 0.24rem;
  margin: 0.12rem;
}
/* line 123, ../sass/screen.sass */
.chat ol i {
  color: #ddcccc;
  font-style: normal;
}
/* line 126, ../sass/screen.sass */
.chat ol i:before, .chat ol i:after {
  color: #ffffff;
}
/* line 128, ../sass/screen.sass */
.chat ol i:before {
  content: "[";
}
/* line 130, ../sass/screen.sass */
.chat ol i:after {
  content: "]";
}
/* line 132, ../sass/screen.sass */
.chat ol strong {
  font-weight: normal;
  color: #969696;
}
/* line 135, ../sass/screen.sass */
.chat ol strong:after {
  content: " :";
  color: #fff;
}
/* line 138, ../sass/screen.sass */
.chat textarea {
  width: 100%;
  margin-top: 1rem;
  height: 9%;
  border: 0.5rem solid #69858B;
}

/* line 144, ../sass/screen.sass */
.room-list {
  width: 58%;
  margin: 0 0.5%;
  padding-bottom: 6rem;
}
/* line 148, ../sass/screen.sass */
.room-list ol {
  height: 90%;
}

/* line 151, ../sass/screen.sass */
.room-preview {
  width: 40%;
}
/* line 153, ../sass/screen.sass */
.room-preview .preview {
  position: relative;
  padding: 0.5rem;
  background: #68848A;
  line-height: 1;
}
/* line 158, ../sass/screen.sass */
.room-preview .preview strong, .room-preview .preview i {
  display: block;
  position: absolute;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(105, 133, 139, 0.7);
  color: #fff;
  font-style: normal;
}
/* line 166, ../sass/screen.sass */
.room-preview .preview strong {
  top: 5%;
  left: 5%;
}
/* line 169, ../sass/screen.sass */
.room-preview .preview i {
  bottom: 5%;
  left: 5%;
}
/* line 172, ../sass/screen.sass */
.room-preview .teams {
  height: 40%;
}
/* line 174, ../sass/screen.sass */
.room-preview .teams[data-teams='2'] {
  overflow: hidden;
  *zoom: 1;
}
/* line 176, ../sass/screen.sass */
.room-preview .teams[data-teams='2'] > div {
  float: left;
  width: 50%;
}
/* line 179, ../sass/screen.sass */
.room-preview .teams > div {
  height: 100%;
  position: relative;
}
/* line 182, ../sass/screen.sass */
.room-preview .teams ol {
  height: 90%;
  font-size: 1.2rem;
}
/* line 185, ../sass/screen.sass */
.room-preview .teams ol > li {
  border-radius: 0.24rem;
  padding: 0.24rem;
  margin: 0.12rem;
}
/* line 187, ../sass/screen.sass */
.room-preview .teams ol strong {
  font-weight: normal;
}
/* line 189, ../sass/screen.sass */
.room-preview .teams button {
  height: 2.2rem;
  padding: 0 1.1rem;
  font-size: 1.1rem;
  line-height: 2.2rem;
  border-radius: 0.44rem;
  position: absolute;
  bottom: 0;
}
/* line 193, ../sass/screen.sass */
.room-preview img {
  max-width: 100%;
}

/* line 197, ../sass/screen.sass */
.game .game-canvas {
  width: 50%;
  margin: 1%;
  text-align: center;
  border: 0.5rem solid #69858B;
  line-height: 0;
  font-size: 0;
}
/* line 204, ../sass/screen.sass */
.game .game-canvas canvas {
  width: 100%;
}

/* line 211, ../sass/screen.sass */
.room-left, .game, #user-panel .room-left {
  display: none;
}

/* line 213, ../sass/screen.sass */
.user-in-room #user-panel .room-left {
  display: inline-block;
}

/* line 217, ../sass/screen.sass */
.user-in-room .game {
  display: block;
}
/* line 219, ../sass/screen.sass */
.user-in-room .room {
  display: none;
}

/* line 224, ../sass/screen.sass */
.room-list li {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  cursor: pointer;
}
/* line 228, ../sass/screen.sass */
.room-list li strong {
  float: left;
  width: 50%;
}
/* line 231, ../sass/screen.sass */
.room-list li span {
  float: right;
  width: 30%;
}
/* line 234, ../sass/screen.sass */
.room-list li:after {
  content: attr(data-users) "/" attr(data-max);
  position: absolute;
  display: block;
  width: 20%;
  top: 0;
  left: 50%;
  margin-top: 0.5rem;
  text-align: center;
}

/* line 245, ../sass/screen.sass */
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  color: #fff;
}
/* line 251, ../sass/screen.sass */
ol:empty {
  display: none;
}
/* line 253, ../sass/screen.sass */
ol ul, ol li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 257, ../sass/screen.sass */
ol > li {
  background: #4A4343;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
}
/* line 260, ../sass/screen.sass */
ol > li:hover {
  background: #21211E;
}
/* line 263, ../sass/screen.sass */
ol ul li.m {
  text-align: center;
}
/* line 265, ../sass/screen.sass */
ol ul li.r {
  text-align: right;
}

/* line 267, ../sass/screen.sass */
h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 2.2rem;
}

/* line 273, ../sass/screen.sass */
input {
  border: 0.5rem solid #69858B;
  margin: 0.5rem 0;
  width: 100%;
}

/* line 278, ../sass/screen.sass */
button {
  text-align: center;
  background: #68848A;
  border: 0;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  height: 5rem;
  padding: 0 2.5rem;
  font-size: 2.5rem;
  line-height: 5rem;
  border-radius: 1rem;
}
/* line 10, ../sass/screen.sass */
button:hover {
  background: #21211E;
}

/* line 283, ../sass/screen.sass */
#debug {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 287, ../sass/screen.sass */
#debug .latency {
  background: #770000;
  color: #ffffff;
  padding: 0 3px;
}

/*# sourceMappingURL=screen.css.map */
